In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder

# Desicision Tree

## Home price Dataset

In [2]:
df = pd.read_csv(r"C:\Users\patil\Desktop\Know IT CADC\Practical Machine Learning\Common_Folder\Day 3\homeprices.csv")
df

    area   price
0   2600  550000
1   3000  565000
2   3200  610000
3   3600  680000
4   4000  725000
5   5000  800000
6   2000  450000
7   3000  550000
8   2800  580000
9   3100  600000
10  7000  910000

In [3]:
x = df.drop('price', axis=1)
y = df['price']

In [4]:
dr = DecisionTreeRegressor(random_state=1)
dr.fit(x, y)

DecisionTreeRegressor(random_state=1)

In [5]:
y_pred = dr.predict(x)

print("R2_score =", r2_score(y, y_pred))

R2_score = 0.9993433097190162

## Hiring Dataset

In [6]:
df = pd.read_csv(r"C:\Users\patil\Desktop\Know IT CADC\Practical Machine Learning\Common_Folder\Day 3\hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [7]:
x = df.drop('salary($)', axis=1)
y = df['salary($)']

temp = df['experience'].values

In [9]:
si = SimpleImputer(strategy='constant', fill_value='zero')

temp = si.fit_transform(temp.reshape(-1,1))

x['experience'] = temp
x

  experience  test_score(out of 10)  interview_score(out of 10)
0       zero                    8.0                           9
1       zero                    8.0                           6
2       five                    6.0                           7
3        two                   10.0                          10
4      seven                    9.0                           6
5      three                    7.0                          10
6        ten                    NaN                           7
7     eleven                    7.0                           8

In [ ]:
transformer = ColumnTransformer(transformers=[('col2', SimpleImputer(), [1]), 
                                ('col3', OrdinalEncoder(categories=[['zero', 'two', 'three', 'five', 'seven', 'ten', 'eleven']]), [0])]
                               ,remainder='passthrough')
transformer

In [ ]:
x = transformer.fit_transform(x)

In [ ]:
dr = DecisionTreeRegressor(random_state=1)
dr.fit(x, y)

In [ ]:
y_pred = dr.predict(x)
print("R2_score =", r2_score(y,y_pred))

# Random Forest Regressor

In [ ]:
df = pd.read_csv(r"C:\Users\patil\Desktop\Know IT CADC\Practical Machine Learning\Common_Folder\Day 3\homeprices.csv")
df

In [ ]:
x = df.drop('price', axis=1)
y = df['price']

In [ ]:
rf = RandomForestRegressor(n_estimators=10, random_state=1)
rf.fit(x, y)

In [ ]:
y_pred = rf.predict(x)
print("R2_score =", r2_score(y,y_pred))

In [ ]:
df = pd.read_csv(r"C:\Users\patil\Desktop\Know IT CADC\Practical Machine Learning\Common_Folder\Day 3\hiring.csv")
df

In [ ]:
x = df.drop('salary($)', axis=1)
y = df['salary($)']

temp = df['experience'].values

In [ ]:
si = SimpleImputer(strategy='constant', fill_value='zero')

temp = se.fit_transform(temp.reshape(-1,1))

x['experience'] = temp
x

In [ ]:
transformer = ColumnTransformer(transformers=[('col2', SimpleImputer(), [1]), 
                                ('col3', OrdinalEncoder(categories=[['zero', 'two', 'three', 'five', 'seven', 'ten', 'eleven']]), [0])]
                               ,remainder='passthrough')
transformer

In [ ]:
x = transformer.fit_transform(x)

In [ ]:
y_pred = rf.predict(np.array([5,6,5]).reshape(-1, 1))
y_pred